exportClasses(Getter)
exportClasses(HMACGetter)
exportClasses(HTTPGetter)
exportClasses(LocalGetter)
exportClasses(RawGetter)
export(get_resource)
export(HMACGetter)
export(HTTPGetter)
export(LocalGetter)
export(print.dataPackage)
export(RawGetter)
export(read_data_package)
export(read_json_table)
export(write_json_table)
importFrom(digest,digest)
importFrom(digest,hmac)
importFrom(httr,content)
importFrom(httr,GET)
importFrom(RCurl,base64Encode)
importFrom(rjson,fromJSON)
importFrom(rjson,toJSON)
