export(cast_type)
export(get_resource)
export(hashFactor)
export(HMACGetter)
export(HTTPGetter)
export(LocalGetter)
export(print.dataPackage)
export(RawGetter)
export(read_data_package)
export(read_json_table)
export(read_schemaed_csv)
export(write_json_table)
exportClasses(Getter)
exportClasses(HMACGetter)
exportClasses(HTTPGetter)
exportClasses(LocalGetter)
exportClasses(RawGetter)
importFrom(digest,digest)
importFrom(digest,hmac)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,GET)
importFrom(httr,parse_url)
importFrom(RCurl,base64Encode)
importFrom(rjson,fromJSON)
importFrom(rjson,toJSON)
S3method("[",hashFactor)
S3method(as.integer,hashFactor)
