exportClasses(Getter)
exportClasses(HTTPGetter)
exportClasses(LocalGetter)
exportClasses(RawGetter)
export(get_file)
export(HTTPGetter)
export(LocalGetter)
export(print.dataPackage)
export(RawGetter)
export(read_data_package)
export(read_json_table)
export(write_json_table)
importFrom(digest,digest)
importFrom(httr,content)
importFrom(httr,GET)
importFrom(rjson,fromJSON)
importFrom(rjson,toJSON)
